 @import "var";

 .mainEmpty{
    width: 100%;
    .mainCont{
        padding: 5%;
        .aboutH1{
            font-size: 100px;
            font-weight: 600;
            padding-bottom: 5%; 
            @media (max-width: 920px){
                font-size: 80px;
            }
            @media (max-width: 768px){
                font-size: 60px;
            }
            @media (max-width: 520px){
                font-size: 50px;
            }
        }
        .aboutHsec{
            font-size: 30px;
        }

    }
 }

// 
